<div class="usa-section usa-grid">
    <!-- Here 'form' is an instance of ngForm directive -->
    <!--<form #form="ngForm" (ngSubmit)="addNewRow(form)" novalidate>-->
    <form #form="ngForm" (ngSubmit)="submitForm(form)" novalidate>

        <div class="row">
            <div class="usa-width-one-half">
                <h1>deSRA <span>/ˈdezəˌrā/</span></h1>
                <label for="geneIds">Enter the gene ID's you are interested in:</label>
                <textarea id="geneIds"  required name="genes" ngModel></textarea>

                <input type="file" (change)="fileChanged($event)" name="file" placeholder="Upload file" accept=".pdf,.doc,.docx,.txt" ngModel>
            </div>

            <div class="usa-width-one-half">
                <h3>Differential expression for SRA data</h3><h4>An automated protocol to extract differences in gene expression from public NGS datasets.</h4>
                <p>Please enter comma separated Gene names and SRA accessions for each condition. Also enter an email address to get a notification when your job is done, as this tool will take a while to run. deSRA uses human genome assembly GRCh38 and the most recent annotation release for gene sequences. Read our documentation at <a href="https://github.com/NCBI-Hackathons/deSRA">https://github.com/NCBI-Hackathons/deSRA</a>.</p>
            </div>
        </div>

        <div class="accessions row">
            <div class="usa-width-one-half">
                <label for="SRRAccession1">SRR Accessions condition 1:</label>
                <textarea id="SRRAccession1" type="text" required name="srraccessionA" ngModel></textarea>
                <input type="file" (change)="fileChanged($event)" name="file" placeholder="Upload file" accept=".pdf,.doc,.docx,.txt">
            </div>
            <div class="usa-width-one-half">
                <label for="SRRAccession2">SRR Accessions condition 2:</label>
                <textarea id="SRRAccession2" type="text" required name="srraccessionB" ngModel></textarea>
                <input type="file" (change)="fileChanged($event)" name="file" placeholder="Upload file" accept=".pdf,.doc,.docx,.txt">
            </div>
        </div>

        <div class="row">
        <div class="usa-width-one-half">
          <p>This request will take a long time to process. Once the results are ready, we will send you a link to your email.</p>
        </div>
        <div class="usa-width-one-half">
           <label for="email">Email</label>
           <input id="email" name="email" type="text">
        </div>
      </div>


        <button type="submit">Ok</button>
     </form>
</div>