<div>
    <!-- Here 'form' is an instance of ngForm directive -->
    <!--<form #form="ngForm" (ngSubmit)="addNewRow(form)" novalidate>-->
    <form #form="ngForm" (ngSubmit)="submitForm(form)" novalidate>

            <label for="geneIds">Enter the gene ID's you are interested in:</label>
            <input id="geneIds" type="text" required name="genes"/>

            <label for="SRRAccession1">SRR Accessions condition 1:</label>
            <input id="SRRAccession1" type="text" required name="srraccessionA"/>

            <label for="SRRAccession2">SRR Accessions condition 2:</label>
            <input id="SRRAccession2" type="text" required name="srraccessionB"/>
     </form>
</div>